# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [434]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [232]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [233]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data'
data = pd.read_csv(url , sep= '\s+')
data.head(10)

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
5,61,1,6,13.21,8.12,9.96,6.67,5.37,4.50,10.67,4.42,7.17,7.50,8.12,13.17
6,61,1,7,13.50,14.29,9.50,4.96,12.29,8.33,9.17,9.29,7.58,7.96,13.96,13.79
7,61,1,8,10.96,9.75,7.62,5.91,9.62,7.29,14.29,7.62,9.25,10.46,16.62,16.46
8,61,1,9,12.58,10.83,10.00,4.75,10.37,6.79,8.04,10.13,7.79,9.08,13.04,15.37
9,61,1,10,13.37,11.12,19.50,8.33,9.71,6.54,11.42,7.79,8.54,9.00,8.58,11.83

In [234]:
Date = pd.to_datetime(data[['Yr', 'Mo', 'Dy']].astype(str).agg('-'.join , axis=1))
data.insert(0, 'Date' , Date)
data.drop(['Yr', 'Mo', 'Dy'], axis=1,inplace=True)

import warnings
warnings.filterwarnings("ignore")

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [235]:
def fix_year(date_series, threshold=24):
    return date_series.apply(lambda x: x - pd.DateOffset(years=100) if x.year > threshold else x)

data['Date'] = fix_year(data['Date'])

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [236]:
data.set_index('Date' , inplace=True)

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [237]:
# pandas functions have an optional parameter called skipna, which is set to True by default so they are ignored.
missing_values = data.isna().sum().sum()
missing_values

31

### Step 7. Compute how many non-missing values there are in total.

In [238]:
non_missing = data.count().sum()
non_missing

78857

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [239]:
data.mean().mean()

10.227982360836938

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [240]:
loc_stats = data.agg(['min', 'max', 'mean', 'std']).transpose()
loc_stats

      min    max       mean       std
RPT  0.67  35.80  12.362987  5.618413
VAL  0.21  33.37  10.644314  5.267356
ROS  1.50  33.84  11.660526  5.008450
KIL  0.00  28.46   6.306468  3.605811
SHA  0.13  37.54  10.455834  4.936125
BIR  0.00  26.16   7.092254  3.968683
DUB  0.00  30.37   9.797343  4.977555
CLA  0.00  31.08   8.495053  4.499449
MUL  0.00  25.88   8.493590  4.166872
CLO  0.04  28.21   8.707332  4.503954
BEL  0.13  42.38  13.121007  5.835037
MAL  0.67  42.54  15.599079  6.699794

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [261]:
day_stats = data.agg(['min', 'max', 'mean', 'std'] , axis= 1)
day_stats

             min    max       mean       std
Date
1961-01-01  9.29  18.50  13.018182  2.808875
1961-01-02  6.50  17.54  11.336364  3.188994
1961-01-03  6.17  18.50  11.641818  3.681912
1961-01-04  1.79  11.75   6.619167  3.198126
1961-01-05  6.17  13.33  10.630000  2.445356
...          ...    ...        ...       ...
1878-12-27  8.08  40.08  16.708333  7.868076
1878-12-28  5.00  41.46  15.150000  9.687857
1878-12-29  8.71  29.58  14.890000  5.756836
1878-12-30  9.13  28.79  15.367500  5.540437
1878-12-31  9.59  27.29  15.402500  5.702483

[6574 rows x 4 columns]

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [242]:
avg_jan_speed = data[data.index.month == 1].mean()
avg_jan_speed

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [306]:
yearly_freq = data.resample('Y').mean()
yearly_freq = yearly_freq.dropna()
yearly_freq

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1874-12-31,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671
1875-12-31,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863
1876-12-31,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448
1877-12-31,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849
1878-12-31,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370
1961-12-31,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
1962-12-31,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
1963-12-31,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
1964-12-31,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
1965-12-31,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644
1966-12-31,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260
1967-12-31,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945
1968-12-31,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486
1969-12-31,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904
1970-12-31,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027
1971-12-31,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233
1972-12-31,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716
1973-12-31,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096

### Step 13. Downsample the record to a monthly frequency for each location.

In [305]:
monthly_freq = data.resample('M').mean()
monthly_freq = monthly_freq.dropna()
monthly_freq

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1874-01-31,20.990968,17.623548,17.514839,10.549355,15.858387,11.298387,14.112258,12.786452,14.691935,15.092903,19.929677,24.573226
1874-02-28,13.576071,12.451786,11.263571,6.103929,10.590357,6.516429,9.818929,8.578929,9.212857,9.045000,12.172143,16.891786
1874-03-31,11.156129,10.725484,12.019355,5.743226,9.576452,5.892903,8.520000,9.039032,8.339032,7.626774,11.234516,15.141613
1874-04-30,9.481000,6.919667,12.099333,4.061000,7.659000,4.046333,5.438667,7.609333,6.058667,5.024000,7.983333,9.898000
1874-05-31,13.381290,11.769677,12.355484,6.656452,10.874194,6.481290,9.680645,10.810645,8.830323,9.624516,13.319032,16.006774
...,...,...,...,...,...,...,...,...,...,...,...,...
1973-08-31,8.955161,7.868710,8.996774,4.396129,7.860645,4.989355,6.051290,5.173548,6.171935,5.745161,10.512258,12.328710
1973-09-30,11.632667,10.963667,11.634667,5.194333,9.100333,5.730667,7.053000,7.048333,6.911667,6.111667,12.149667,13.966667
1973-10-31,11.531935,9.858710,11.535161,4.356452,8.773226,5.189677,6.455806,7.140000,6.254516,6.890323,10.758387,14.955484
1973-11-30,11.540667,10.868000,10.613000,5.385000,10.463667,6.147333,7.525667,7.619667,8.378333,8.311333,11.499333,18.441000
1973-12-31,13.670000,12.086774,11.278065,5.619355,10.672581,6.914516,10.841290,8.516129,9.311613,9.702581,13.274194,19.728387

### Step 14. Downsample the record to a weekly frequency for each location.

In [304]:
weekly_freq = data.resample('W').mean()
weekly_freq = weekly_freq.dropna()
weekly_freq

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1874-01-04,24.095000,16.877500,21.975000,12.895000,16.315000,13.885000,13.480000,14.250000,17.332500,18.402500,17.897500,25.757500
1874-01-11,21.315714,18.227143,17.160000,10.725714,16.178571,10.988571,12.987143,12.178571,14.255714,14.898571,22.037143,23.518571
1874-01-18,22.698571,20.202857,18.022857,11.035714,18.818571,12.882857,17.451429,13.904286,15.627143,15.344286,21.434286,26.945714
1874-01-25,16.421429,14.635714,13.631429,7.594286,11.702857,8.338571,11.225714,10.828571,12.072857,12.118571,17.984286,21.647143
1874-02-01,21.840000,17.700000,19.207143,11.857143,16.201429,11.652857,15.404286,13.351429,15.495714,16.320000,17.928571,25.232857
...,...,...,...,...,...,...,...,...,...,...,...,...
1973-12-09,14.308571,12.155714,11.410000,5.842857,11.184286,7.118571,11.638571,8.834286,9.438571,9.517143,13.208571,19.951429
1973-12-16,17.938571,14.815714,12.851429,9.018571,14.417143,9.684286,15.762857,11.758571,12.958571,14.481429,17.088571,26.177143
1973-12-23,12.840000,12.352857,10.637143,4.005714,8.612857,4.204286,7.381429,6.161429,7.227143,6.892857,10.060000,15.557143
1973-12-30,10.910000,10.161429,10.661429,5.077143,9.685714,6.960000,10.311429,8.281429,9.310000,9.505714,13.648571,19.034286
1974-01-06,10.670000,10.040000,6.870000,1.460000,6.960000,5.750000,3.830000,6.210000,4.750000,6.130000,12.790000,15.790000

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [325]:
weekly_data = data['1961-01-02':].resample('W').mean()

weekly_data = weekly_data.agg(['min', 'max', 'mean', 'std'], axis=1)

weekly_stats_first_52_weeks = weekly_data.iloc[:52]

weekly_stats_first_52_weeks

                  min        max       mean       std
Date
1961-01-08   6.417143  13.541429   9.847659  2.601705
1961-01-15   4.630000  12.468571   8.353214  2.719649
1961-01-22   6.328571  13.204286   9.368413  2.224531
1961-01-29  12.720000  22.530000  16.958095  2.915635
1961-02-05   8.247143  16.827143  11.800357  2.807310
1961-02-12  10.774286  21.832857  15.891548  3.147412
1961-02-19   9.542857  21.167143  13.726825  3.105819
1961-02-26   8.524286  16.304286  12.604286  2.364323
1961-03-05   7.834286  17.842857  11.766766  2.535336
1961-03-12   6.881429  16.701429  10.612579  2.746233
1961-03-19   7.084286  19.350000  11.756310  3.320318
1961-03-26   6.648571  18.134286  10.462857  3.071975
1961-04-02   7.300000  13.900000  10.268433  1.883742
1961-04-09   5.958571  13.607143   9.412381  2.399840
1961-04-16   4.947143   9.482857   6.845595  1.803831
1961-04-23   7.768571  13.620000  10.146667  1.895943
1961-04-30   4.801429  10.117143   7.445000  1.864130
1961-05-07   9.952857  17.548571  13.164048  2.223149
1961-05-14   5.295714  10.421429   8.059802  1.491250
1961-05-21   4.258571  12.042857   7.470258  2.327906
1961-05-28   3.748333  11.697143   7.177956  2.370473
1961-06-04   6.310000  13.597143   9.244643  2.167131
1961-06-11   5.214286  12.250000   8.459048  2.136900
1961-06-18   6.520000  15.351429  10.173810  2.676791
1961-06-25   5.478571  17.410000  10.066548  3.494271
1961-07-02   6.507143  14.535714   9.528810  2.311594
1961-07-09   7.220000  15.987143  10.580099  2.505843
1961-07-16   8.412857  16.680000  11.666190  2.483875
1961-07-23   2.715714   8.415714   5.350952  1.726225
1961-07-30   5.727143  13.761429   9.431071  2.279097
1961-08-06   6.238571  13.760000   9.446786  2.099734
1961-08-13   5.078571  10.934286   8.199206  1.855421
1961-08-20   8.600000  16.626667  12.668413  2.466378
1961-08-27   7.108571  16.485714  12.061786  2.649263
1961-09-03   5.642857  13.664286   8.437381  2.300787
1961-09-10   5.685714  11.034286   8.186786  1.866173
1961-09-17  10.442857  19.878571  14.510833  3.058931
1961-09-24   4.851667  11.018571   7.247937  1.958569
1961-10-01   8.370000  16.208571  11.771091  2.750518
1961-10-08   5.262857  11.410000   8.034167  2.148981
1961-10-15   6.578571  15.260000   9.828115  2.680505
1961-10-22  10.721429  23.641429  15.479643  3.509702
1961-10-29   8.408571  18.404286  12.688631  3.139748
1961-11-05   7.541429  19.195714  11.612857  3.253959
1961-11-12   4.220000  10.858571   7.487262  2.516385
1961-11-19   4.501429  16.988571   7.647024  3.534858
1961-11-26   4.970000  12.732857   8.755516  2.472631
1961-12-03   6.245714  14.725714   9.754762  2.724343
1961-12-10   8.624286  17.362857  13.145357  2.904971
1961-12-17   8.697143  15.112857  12.703095  2.110713
1961-12-24   5.517143  15.757143   9.315714  3.174787
1961-12-31   5.372857  15.804286   9.562381  3.288602